{% extends "trips/pages/trip_subpage.html" %}
{% load static %}
{% load icons %}

{% block trip_subpage_sidebar_header %}
<div class="px-3">
  <a href="{% url 'notebook_list' trip_id=trip_page.trip.pk %}" class="plain text-primary h3">Trip Notes</a>
</div>
{% endblock %}

{% block subpage_sidebar_content %}
{% if notebook_page.notebook_entries %}
<ul class="app-sidebar-nav">
  {% for entry in notebook_page.notebook_entries %}
  <li>
    <a href="{% url 'notebook_entry' trip_id=trip_page.trip.pk entry_pk=entry.pk %}"{% if entry.pk == notebook_page.notebook_entry_pk %} class="active" aria-current="page"{% endif %}>
      {{ entry.date|date:'D, M j' }}
    </a>
  </li>
  {% endfor %}
  {% if trip_page.request_member.can_edit_trip %}
  <li>
    <a href="{% url 'notebook_entry_new' trip_id=trip_page.trip.pk %}" class="text-muted">
      {% icon "plus" size="sm" css_class="tt-icon-left" %}
      <span>New Note</span>
    </a>
  </li>
  {% endif %}
</ul>
{% endif %}
{% endblock %}
