{% if attribute_form.instance.is_editable and not attribute_form.instance.is_predefined %}
<input type="text" 
       id="{{ attribute_form.name.id_for_label }}"
       name="{{ attribute_form.name.html_name }}"
       value="{{ attribute_form.instance.name }}" 
       class="attr-v2-title-input"
       maxlength="64">
{% else %}
<input type="hidden" 
       id="{{ attribute_form.name.id_for_label }}"
       name="{{ attribute_form.name.html_name }}"
       value="{{ attribute_form.instance.name }}">
<input type="text" 
       value="{{ attribute_form.instance.name }}" 
       class="attr-v2-title-input"
       maxlength="64"
       disabled="true" >
{% endif %}
