{% extends "modals/action_2_with_cancel.html" %}
{% load icons %}

{% block modal_dialog_id %}journal-edit-modal{% endblock %}

{% block title_text %}Edit Journal{% endblock %}

{% block preamble %}
<form method="post" action="{% url 'journal_edit' journal_uuid=journal.uuid %}" data-async="modal">
  {% csrf_token %}
{% endblock %}

{% block body %}
  <div class="form-group">
    <label for="{{ form.title.id_for_label }}" class="font-weight-bold">
      Journal Title <span class="text-danger">*</span>
    </label>
    {{ form.title }}
    {% if form.title.errors %}
    <div class="text-danger small mt-1">
      {{ form.title.errors }}
    </div>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="{{ form.description.id_for_label }}" class="font-weight-bold">
      Description
    </label>
    {{ form.description }}
    {% if form.description.errors %}
    <div class="text-danger small mt-1">
      {{ form.description.errors }}
    </div>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="{{ form.timezone.id_for_label }}" class="font-weight-bold">
      Timezone <span class="text-danger">*</span>
    </label>
    {{ form.timezone }}
    {% if form.timezone.errors %}
    <div class="text-danger small mt-1">
      {{ form.timezone.errors }}
    </div>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="{{ form.theme.id_for_label }}" class="font-weight-bold">
      Travelog Theme <span class="text-danger">*</span>
    </label>
    {{ form.theme }}
    {% if form.theme.errors %}
    <div class="text-danger small mt-1">
      {{ form.theme.errors }}
    </div>
    {% endif %}
    <small class="form-text text-muted">{{ form.theme.help_text }}</small>
  </div>
{% endblock %}

{% block action_right %}
<button type="submit" class="btn btn-primary">
  {% icon "save" size="sm" css_class="tt-icon-left" %}
  UPDATE
</button>
{% endblock %}

{% block postamble %}
</form>
{% endblock %}
