*~
.*
*#
*.a
*.o
*.class
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.tar.gz
*.tgz
*.aux
*.bbl
*.log
*.blg
*.zip
*.Z

/.private/
/venv/
/data/
/src/*json
/src/*csv
/src/*txt

/*.html
/docs/**/*.html

!.github/
!.gitignore
!.dockerignore
!.claude/
