{% extends "trips/pages/trip_base.html" %}
{% load static %}
{% load icons %}

{% block sidebar_title %}Trip Journal{% endblock %}

{% block sidebar_back_nav %}
<li>
  <a href="{% url 'trips_home' trip_uuid=trip_page.trip.uuid %}">
    {% icon "chevron-left" size="sm" %}
    <span>Back to Trip</span>
    </a>
</li>
{% endblock %}

{% block sidebar_nav_items %}
{% if journal_page.journal_entries %}
{% for entry in journal_page.journal_entries %}
<li>
  <a href="{% url 'journal_entry' entry_uuid=entry.uuid %}"{% if entry.uuid == journal_page.journal_entry_uuid %} class="active" aria-current="page"{% endif %}>
    {{ entry.date|date:'D, M j' }}
  </a>
</li>
{% endfor %}
{% if trip_page.request_member.can_edit_trip %}
<li>
  <a href="{% url 'journal_entry_new' journal_uuid=journal_page.journal.uuid %}" class="text-muted">
    {% icon "plus" size="sm" css_class="tt-icon-left" %}
    <span>New Entry</span>
      </a>
</li>
{% else %}
<li><em>No Journal Entries</em></li>
{% endif %}
</ul>
{% endif %}
{% endblock %}
