{% extends "trips/pages/trip_base.html" %}
{% load static %}
{% load icons %}

{% block trip_content %}
<div class="m-3">
  {% if trip_page.trip.description %}
  <div class="mb-4">
    <h5>Description</h5>
    <p>{{ trip_page.trip.description }}</p>
  </div>
  {% endif %}
  <h5>Description</h5>
  
  <div class="alert alert-info" role="alert">
    <h4>Trip Home Coming Soon!</h4>
    <p>This is a placeholder page. Full trip management functionality will be implemented soon.</p>
    <p class="mb-0">Planned features include:</p>
    <ul>
      <li>Itinerary planning</li>
      <li>Location management</li>
      <li>Booking tracking</li>
      <li>Notes and reviews</li>
      <li>Route planning</li>
    </ul>
  </div>
</div>
{% endblock %}
