{% extends "pages/feature_page.html" %}

{% block main_content %}
<div class="container-fluid px-0">
  <div class="d-flex justify-content-between m-4">
    <h1 class="h2">Account Settings</h1>
    <div>
       <a class="btn btn-outline-primary" href="{% url 'user_signout' %}">Sign Out</a>
    </div>
  </div>
  
  <div class="row m-3">
    <div class="col-lg-8 col-md-10">
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">Your Account</h5>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Email:</dt>
            <dd class="col-sm-9">{{ user.email }}</dd>
            
            {% if user.first_name %}
            <dt class="col-sm-3">First Name:</dt>
            <dd class="col-sm-9">{{ user.first_name }}</dd>
            {% endif %}
            
            {% if user.last_name %}
            <dt class="col-sm-3">Last Name:</dt>
            <dd class="col-sm-9">{{ user.last_name }}</dd>
            {% endif %}
            
            <dt class="col-sm-3">Account Created:</dt>
            <dd class="col-sm-9">{{ user.date_joined|date:"F d, Y" }}</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  
  <div class="tt-page-explanation m-3">
    <h5>Account Management Coming Soon!</h5>
    <p class="mb-0">Full account management features will be added in a future update, including:</p>
    <ul class="mt-2 mb-0">
      <li>Update profile information</li>
      <li>Change email address</li>
      <li>Manage preferences</li>
      <li>Delete account</li>
    </ul>
  </div>
</div>
{% endblock %}
