{% extends "pages/feature_subpage.html" %}
{% load static %}
{% load icons %}

{% block main_extra_actions %}
<div class="dropdown mr-2">
  <button class="btn btn-outline-light dropdown-toggle" type="button" id="newDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    + New
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="newDropdown">
    <a class="dropdown-item" href="{% url 'user_api_token_create' %}" data-async="modal">API Key</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'trips_trip_create' %}" data-async="modal">New Trip</a>
    <a class="dropdown-item" href="{% url 'images_home' %}">Add Images</a>
  </div>
</div>
{% endblock %}

{% block sidebar_title %}Account{% endblock %}

{% block sidebar_back_nav %}
<li>
  <a href="{% url 'dashboard_home' %}">
    {% icon "chevron-left" size="sm" %}
    <span><em>To Dashboard</em></span>
  </a>
</li>
{% endblock %}

{% block sidebar_body_items %}
<li>
  <a href="{% url 'user_account_home' %}"{% if account_page.active_page.value == 'profile' %} class="active" aria-current="page"{% endif %}>
    {% icon "user" size="sm" %}
    <span>Profile</span>
  </a>
</li>
<li>
  <a href="{% url 'user_extensions' %}"{% if account_page.active_page.value == 'extensions' %} class="active" aria-current="page"{% endif %}>
    {% icon "plug" size="sm" %}
    <span>Extensions</span>
  </a>
</li>
<li>
  <a href="{% url 'user_api_tokens' %}"{% if account_page.active_page.value == 'api_tokens' %} class="active" aria-current="page"{% endif %}>
    {% icon "key" size="sm" %}
    <span>API Keys</span>
  </a>
</li>
{% endblock %}

{% block subpage_header %}
{% endblock %}
