{% extends "modals/action_2_with_cancel.html" %}

{% block modal_dialog_class %}tt-modal-dialog-600{% endblock %}

{% block title_text %}Edit Image Details{% endblock %}

{% block preamble %}
<form id="trip-image-edit-form" method="post"
      action="{% url 'images_image_inspect' image_uuid=image_page_context.trip_image.uuid %}{% if image_page_context.trip %}?trip_uuid={{ image_page_context.trip.uuid }}{% endif %}"
      data-async="modal">
  {% csrf_token %}
  {% if image_page_context.trip %}
    <input type="hidden" name="trip_uuid" value="{{ image_page_context.trip.uuid }}">
  {% endif %}
{% endblock %}

{% block body %}
<div class="container-fluid p-0">
  {% include "images/components/trip_image_display.html" with trip_image=image_page_context.trip_image %}

  <!-- Metadata Card -->
  <div class="card">
    <div class="card-header bg-light">
      <strong>Image Information</strong>
    </div>
    <div class="card-body">

      {% include "images/components/trip_image_form.html" with trip_image_form=trip_image_form trip_image=image_page_context.trip_image %}
    </div>
  </div>
</div>
{% endblock %}

{% block action_right %}
<button type="submit" class="btn btn-primary">SAVE</button>
{% endblock %}

{% block postamble %}
</form>
{% endblock %}
