{% extends "modals/action_ok.html" %}

{% block modal_dialog_class %}tt-modal-dialog-600{% endblock %}

{% block title_text %}Image Details{% endblock %}

{% block body %}
<div class="container-fluid p-0">
  {% include "images/components/trip_image_display.html" with trip_image=image_page_context.trip_image %}

  <div class="card">
    <div class="card-header bg-light d-flex justify-content-between align-items-center">
      <strong>Image Information</strong>
    </div>
    <div class="card-body">
      {% include "images/components/trip_image_metadata_readonly.html" with trip_image=image_page_context.trip_image %}
    </div>
  </div>
</div>
{% endblock %}
