{% load travelog_tags %}
{% load icons %}

<nav class="d-flex justify-content-between align-items-center small">
  {% if show_toc %}
  <a href="{% travelog_url 'travelog_toc' journal.uuid version=travelog_page.get_version_param %}" class="header-nav-link">
    {% if is_multi_page %}
    &larr; Table of Contents
    {% else %}
    &larr; Back to Travelog
    {% endif %}
  </a>
  
  {% elif show_user_page %}
  <a href="{% url 'travelog_user_list' user_uuid=journal.trip.owner.uuid %}" class="header-nav-link">
    &larr; {{ journal.trip.owner.get_full_name }}'s Travelogs
  </a>
  {% else %}
  <span></span>{# Empty span for flexbox spacing #}
  {% endif %}

  {% if show_image_gallery %}
  <a href="{% travelog_url 'travelog_gallery' journal.uuid version=travelog_page.get_version_param %}" class="header-nav-link">
    {% icon "camera" size="sm" %} Image Gallery
  </a>
  {% else %}
  <span></span>{# Empty span for flexbox spacing #}
  {% endif %}
</nav>
