{% extends "pages/main_base_sidebar.html" %}
{% load icons %}

{% block main_extra_actions %}
<div class="dropdown">
  <button class="btn btn-outline-light dropdown-toggle" type="button" id="newDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {% icon "plus" size="lg" %} New
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="newDropdown">
    <a class="dropdown-item" href="{% url 'trips_create' %}" data-async="modal">New Trip</a>
  </div>
</div>
{% endblock %}

{% block sidebar_content %}
<ul class="app-sidebar-nav">
  <li>
    <a href="{% url 'dashboard_home' %}"{% if dashboard_page.active_page.value == 'dashboard' %} class="active" aria-current="page"{% endif %}>
      {% icon "dashboard" size="sm" %}
      <span>Dashboard</span>
    </a>
  </li>
  <li>
    <a href="{% url 'trips_all' %}"{% if dashboard_page.active_page.value == 'trips' %} class="active" aria-current="page"{% endif %}>
      {% icon "globe" size="sm" %}
      <span>Trips</span>
    </a>
  </li>
  <li>
    <a href="{% url 'images_home' %}"{% if dashboard_page.active_page.value == 'images' %} class="active" aria-current="page"{% endif %}>
      {% icon "camera" size="sm" %}
      <span>Images</span>
    </a>
  </li>
</ul>
{% endblock %}

{% block main_content %}
<div class="m-3">

  <!-- Recent Trips Section -->
  <h2 class="h3">Recent Trips</h2>
  <div class="mb-4 col-lg-8 col-md-10 col-12">
    {% include "trips/components/trip-cards-grid.html" with trips=recent_trips icon_type="recent" %}
  </div>

  <div class="tt-page-explanation">
    <h2>The Problems</h2>
    <ul>
      <li>Trip information is scattered across multiple apps, tabs, and documents.</li>
      <li>What you need to see depends on where yours trips are in their lifecycle.</li>
      <li>No single place shows you the most important information for right now.</li>
      <li>Switching between trips to find out what's important requires time and mental overhead.</li>
    </ul>
    
    <h2>The Solution</h2>
    <ul>
      <p>A contextual dashboard that adapts to your trips' current statuses, surfacing what matters most.</p>
    </ul>
  </div>
</div>

{% endblock %}
