{% extends "pages/base.html" %}
{% load static %}

{% block content %}
{% include "panes/secondary-page-header.html" %}

<!-- Horizontal Secondary Navigation -->
<div class="secondary-nav-horizontal">
  <div class="container-fluid px-3">
    <ul class="nav nav-tabs h-100">
      {% block horizontal_nav_items %}
      <li class="nav-item">
        <a class="nav-link active" href="#">Default</a>
      </li>
      {% endblock %}
    </ul>
  </div>
</div>

<!-- Main Content -->
<main class="app-main-horizontal-nav">
  {% block main_content %}
  {% endblock %}
</main>
{% endblock %}
